.numpadbutton {
  width: 100%;
  height: 100%;
}

.no_horiz_padding {
  padding-left: 0px;
  padding-right: 0px;
}

.s_guessedPairs {
  height: 20vh;
  overflow-y: scroll;
}

.xl_h1 {
  font-size: 80pt;
}

.l_h1 {
  font-size: 65pt;
}

.m_h1 {
  font-size: 50pt;
}

.s_h1 {
  font-size: 30pt;
}

#s_exercises_completed {
    font-size: 14pt;
}

.numpad button {
  font-size: 25pt;
}

.s_numpad button {
  font-size: 17pt;
}

.fixed_three_table {
    table-layout: fixed;
    width: 100%;
    font-size: 25pt;
}

.submit_button {
  font-size: 25pt;
  margin: 15px;
}

html, body {
  height: 100%;
}
