{% extends "layout.html" %}

{% block content %}

  <div class="row text-center">
    <div class="col-lg-12">
      <h1>About</h1>
      <h3>Fear No Factor is a tool to help users practice factoring numbers.</h3>
      <h3>It was originally created for the math department at Southern Virginia University.</h3>
      <h3>Created by Matthew Cheney.</h3>
    </div>
  </div>

  <br>
  <br>
  <hr>
  <br>
  <br>

    <div class="row text-center">
      <div class="col-lg-12">
        <h1>Contact</h1>
        <h3>For messages regarding application functionality, contact <a href="mailto:cheneycreations@gmail.com?Subject=Fear%20No%20Factor%20Feedback" target="_top">cheneycreations@gmail.com</a></h3>
        <h3>For more content from Matthew Cheney, visit <a href="http://cheneycreations.com" target="_blank">cheneycreations.com</a> or my <a href="https://github.com/matthew-cheney" target="_blank">GitHub</a>.</h3>
      </div>
    </div>


{% endblock content %}