{% extends "layout.html" %}

{% block content %}

    <div class="row text-center">
      <div class="col-lg-12">
        <h1>Contact</h1>
        <h3>For messages regarding application functionality, contact <a href="mailto:cheneycreations@gmail.com?Subject=Fear%20No%20Factor%20Feedback" target="_top">cheneycreations@gmail.com</a></h3>
        <h3>For more content from Matthew Cheney, visit <a href="http://cheneycreations.com" target="_blank">cheneycreations.com</a> or my <a href="https://github.com/matthew-cheney" target="_blank">GitHub</a>.</h3>
      </div>
    </div>

{% endblock content %}