{% block help_page %}

<div id="helpPageBody">

    <h1 style="text-align: center;">Instructions</h1>

    <h3 class="helpText">This activity is designed to strengthen your integer factoring skills ("reverse multiplication"). Each exercise presents you with a random number. Your task is to enter all unique pairs of numbers which multiply to produce it.</h3>

    <h3 class="helpText">For example, the number 24 can be produced by four pairs:</h3>
    <div style="text-align: center;">
        <h3>
        1 x 24
        </h3>
        <h3>
        2 x 12
        </h3>
        <h3>
        3 x 8
        </h3>
        <h3>
        4 x 6
        </h3>
    </div>
    <h3 class="helpText">In landscape mode, enter the first number in each pair using the left keypad and the other number using the right keypad. Then select either green enter ("E") key. If the pair is valid, it will be displayed in the middle.</h3>

    <h3 class="helpText">In portrait mode, select the left blue box (with rounded corners) and key in one number then select the right blue box and key in the other number. Then select the enter (green "E") key. If the pair is valid, it will be displayed in the upper right.</h3>

    <h3 class="helpText">Select the Submit button when you have identified all pairs.</h3>

    <h3 class="helpText">Select the "Basic" button to increase the difficulty level. Select "Advanced" to return to the basic level.</h3>

    <h3 class="helpText">You are required to log in using your Google account so that your record of exercises completed can be preserved between sessions on any supported device.</h3>

</div>
{% endblock help_page %}